.main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #24252a;
  color: #edf0f1;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  width: 2rem !important;
  height: 2rem !important;
}

.nav_links {
  list-style: none;
}

.nav_link {
  display: inline-block;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  transition: all 0.3s ease 0s;
}

.nav_link:hover {
  display: inline-block;
  padding: 0px, 20px;
  color: #0088a9;
  transition: all 0.3s ease 0s;
}

.apply_transition {
  transition: all 0.3s ease 0s;
}

.apply_transition:hover {
  color: #0088a9;
  transition: all 0.3s ease 0s;
}
